.search-box{
    height: 55px;
    width:400px;
    background-color: transparent;
    align-items: right;
    font-size: 15px;
    margin: auto;
    vertical-align: middle;
    border-radius :50px;

}
/* .search-btn{
    background:lightblue;
} */
.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
input{
    flex:1;
    height:50px;
    background: transparent;
    border:0;
    outline:0;
    font-size:20px;
    color:#555;
}
button{
    background:transparent;
    border:0;
    outline:0;
}
button.fa-solid{
    width:25px;
    color:#555;
    font-size:15px;
    cursor:pointer;
}
::placeholder{
    color:#030a134e;

}
.result-box ul{
    border-top:1px solid #999;
    padding: 15px 10px;
}
.result-box ul li{
    list-style: none;
    border-radius:3px;
    padding: 15px 10px;
    cursor:pointer;
    
}
.result-box ul li:hover{
    background:#d5f4f8;
}
.result-box{
    max-height:  300px ;
    width:400px;
    overflow-y:scroll;
    position: absolute;
    
}
ul li{
    background-color: rgb(195, 225, 245);
}

