*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
    font-family: Ubuntu;
}

.cells{
    /* box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; */
    border: 2px solid #070707;
    padding: 10px;
    height: 70px;
    width: 70px;
    font-size: 26px;
    font-weight: 600;
    border-radius: 6px;
    margin: 5px;
    text-align: center;
    color: #052145;
}
div{
    background-color: rgba(255, 255, 0, 0);
}
.rows{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 0, 0);
}
#grid00, #grid01, #grid10, #grid11{
    background-color: #f3b9b985;
    border: 1px solid #1665cc;
}
#grid02, #grid03, #grid12, #grid13{
    background-color: #e9f3b977;
    border: 1px solid #16cc2e;
}
#grid20, #grid21, #grid30, #grid31{
    background-color: #b9f3cfa4;
    border: 1px solid #d363bd;
}
#grid22, #grid23, #grid32, #grid33{
    background-color: #b9d4f3aa;
    border: 1px solid #ccb416;
}

body{
    background-image: url(/images/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}
.grid-container{
    text-align: center;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    /* background-color: #eccdcd; */
}
.form-horizontal{
    background-color: rgba(255, 255, 0, 0);
}

.solver-name-header{
    margin-top: 60px;
    background-color: rgba(255, 192, 203, 0);
}

.solver-name-header span{
  font-size: 40px;
  text-align: center;
  color: rgb(29, 29, 132);
  font-weight: 900;
  background-color: rgba(255, 192, 203, 0);
}

.btn-s{
    align-items: center;
    margin-top: 40px;
    margin-right: 14px;
    padding: 8px;
    background-color: #3d88ec;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.backHome, .backHome a{
    padding: 12px;
    background-color: #1665cc;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.backHome a{
    text-decoration: none;
}
.btn-s:hover{
    background-color: #92d3ff;
    color: #1665cc;
  }

  .backHome a:hover, .backHome:hover{
    text-decoration: none;
    background-color: #92d3ff;
    color:rgb(35, 107, 159);
  }
