.cells{
    /* box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; */
    border: 2px solid #070707;
  
    padding: 10px;
    height: 50px;
    width: 50px;
    font-size: 18px;
    /* border-radius: 3px; */
    margin: 5px;

}