@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    min-height: 100vh;
    min-width: 100vw;
    background: url(../assets/bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.head {
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    background: linear-gradient(#F2B433 100%, #EEB238 100%, #D48300 100%);;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    height: auto;
    width: auto;
    background-color: #fff;
    padding: 2rem;
}

.result-container {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: auto;
    width: auto;

}

.result-container img {
    height: 150px;
}

.user {
    transform: rotate(90deg);
}

.cpu {
    transform: rotateY(180deg) rotateZ(90deg);
}

.options span img {
    height: 70px;
    cursor: pointer;
}

.options {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.options span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.options span p{
    text-align: center;
}

.animate1 {
    animation-name: animate1;
    animation-iteration-count: 3;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    position: relative;
}

.animate2 {
    animation-name: animate2;
    animation-iteration-count: 3;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    position: relative;
}

.backHome{
    margin-bottom: 3px;
}
backHome a:hover,
.backHome:hover {
    text-decoration: none;
    background-color: #92d3ff;
    color: rgb(35, 107, 159);
}

.backHome,
.backHome a {
    padding: 12px;
    background-color: #1665cc;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    cursor: pointer;
    margin-bottom: 10px;
    text-decoration: none;
}

@keyframes animate1 {
    0%{
        transform: rotate(80deg);
    }
    50%{
        transform: rotate(100deg);
    }
    100%{
        transform: rotate(80deg);
    }
}

@keyframes animate2 {
    0%{
        transform: rotateY(180deg) rotateZ(80deg);
    }
    50%{
        transform: rotateY(180deg) rotateZ(100deg);
    }
    100%{
        transform: rotateY(180deg) rotateZ(80deg);
    }
}
.navbar{
    /* margin-top: 25px; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 67px;
    width: 100%;
    background:linear-gradient(#1e2b59 , #0f1d34 );
    border-bottom:1px solid #ffb780;
}
.image img{
    height: 55px;
    width: 55px;
}
.left-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-nav ul li{
    list-style: none;
}
.left-nav ul li a{
    text-decoration: none;
    color: #ffb780;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.3rem;
}
.left-nav ul li a:hover{
    text-decoration: underline;
}
.footer-container{
    border-top: 1px solid #ffb780;
    width: 100%;
    background:linear-gradient(#1e2b59 , #0f1d34 );
    padding: 20px;
    /* background: url(Image.png); */
     background-position: center;
     line-height: 2.5rem;
}
.foot-head h2{
    text-align: center;
    color: aqua;
    font-weight: 600;
}
.foot-head p{
    color: #ffb780;
    text-align: center;
    font-size: 1.20rem;
}
.foot-navlinks h3{
    text-align: center;
    color: aqua;
    font-weight: 600;
}
.foot-navlinks {
    text-align: center;
}
.foot-navlinks a{
    color: #ffb780;
    font-size: 18px;
    padding: 10px;
}
.foot-social {
    text-align: center;
}
.foot-social h3{
    color: aqua;
    font-weight: 600;
}
.foot-social a{
    font-size: 30px;
    color: #ffb780;
}
html{
    overflow-x: hidden;
}
.head{
    margin-top: 30px;
}
.backHome{
    margin-bottom: 30px;
}
/* @media screen and (max-width:525px) {
    body{
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }

    .navbar{
        width: 100%;
    }
    .left-nav ul li a{
        padding: 0px 9px;
    }
    
}
@media screen and (max-width:380px) {
    body{
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }

    .navbar{
        width: 100%;
    }
    .left-nav ul li a{
        padding: 0px 9px;
    }
    
} */

@media screen and (max-width:525px) {
    body{
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }

    .navbar{
        width: 100%;
    }
    .left-nav ul li a{
        padding: 0px 9px;
    }
    
}
@media screen and (max-width:380px) {
    body{
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }

    .navbar{
        width: 100%;
    }
    .left-nav ul li a{
        padding: 0px 9px;
    }
    
}