*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}
.wrapper {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

h1 {
    background: linear-gradient(#F2B433 100%, #EEB238 100%, #D48300 100%);;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 3rem;
}

canvas {
    border: 3px solid white;
}