*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.wrapper {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1rem;
}

h1 {
    background: linear-gradient(#F2B433 100%, #EEB238 100%, #D48300 100%);;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 3rem;
}

canvas {
    border: 3px solid white;
}

.keys {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
    background-color: rgb(3, 56, 42);
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 10px;
}

#reset {
    background-color: rgb(5, 182, 17);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.navbar{
    /* margin-top: 25px; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 67px;
    width: 100%;
    background:linear-gradient(#1e2b59 , #0f1d34 );
    border-bottom:1px solid #ffb780;
}
.image img{
    height: 55px;
    width: 55px;
}
.left-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-nav ul li{
    list-style: none;
}
.left-nav ul li a{
    text-decoration: none;
    color: #ffb780;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.3rem;
}
.left-nav ul li a:hover{
    text-decoration: underline;
}
.footer-container{
    border-top: 1px solid #ffb780;
    width: 100%;
    background:linear-gradient(#1e2b59 , #0f1d34 );
    padding: 20px;
    /* background: url(Image.png); */
     background-position: center;
     line-height: 2.5rem;
}
.foot-head h2{
    text-align: center;
    color: aqua;
    font-weight: 600;
}
.foot-head p{
    color: #ffb780;
    text-align: center;
    font-size: 1.20rem;
}
.foot-navlinks h3{
    text-align: center;
    color: aqua;
    font-weight: 600;
}
.foot-navlinks {
    text-align: center;
}
.foot-navlinks a{
    color: #ffb780;
    font-size: 18px;
    padding: 10px;
}
.foot-social {
    text-align: center;
}
.foot-social h3{
    color: aqua;
    font-weight: 600;
}
.foot-social a{
    font-size: 30px;
    color: #ffb780;
}
html{
    overflow-x: hidden;
}
.head{
    margin-top: 30px;
}
.backHome{
    margin-bottom: 30px;
}
/* @media screen and (max-width:525px) {
    body{
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }

    .navbar{
        width: 100%;
    }
    .left-nav ul li a{
        padding: 0px 9px;
    }
    
}
@media screen and (max-width:380px) {
    body{
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }

    .navbar{
        width: 100%;
    }
    .left-nav ul li a{
        padding: 0px 9px;
    }
    
} */

@media screen and (max-width:525px) {
    body{
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }

    .navbar{
        width: 100%;
    }
    .left-nav ul li a{
        padding: 0px 9px;
    }
    
}
@media screen and (max-width:380px) {
    body{
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }

    .navbar{
        width: 100%;
    }
    .left-nav ul li a{
        padding: 0px 9px;
    }
    
}