*{
  margin: 0px;
  padding: 0px;
}
/* html, body {
    height: 100%;
    margin: 0;
  } */

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  canvas {
    border: 1px solid white;
    height: 80%;
  }
  #container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1665cc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 1rem;
}

.btn{
  display: flex;
  justify-content: space-evenly;
}
.navbar{
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 67px;
  width: 100%;
  background:linear-gradient(#1e2b59 , #0f1d34 );
  border-bottom:1px solid #ffb780;
}
.image img{
  height: 55px;
  width: 55px;
}
.left-nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-nav ul li{
  list-style: none;
}
.left-nav ul li a{
  text-decoration: none;
  color: #ffb780;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 1.3rem;
}
.left-nav ul li a:hover{
  text-decoration: underline;
}
.footer-container{
  border-top: 1px solid #ffb780;
  width: 100%;
  background:linear-gradient(#1e2b59 , #0f1d34 );
  padding: 20px;
   background-position: center;
   line-height: 2.5rem;
   margin-top: 30px;
}
.foot-head h2{
  text-align: center;
  color: aqua;
  font-weight: 600;
}
.foot-head p{
  color: #ffb780;
  text-align: center;
  font-size: 1.20rem;
}
.foot-navlinks h3{
  text-align: center;
  color: aqua;
  font-weight: 600;
}
.foot-navlinks {
  text-align: center;
}
.foot-navlinks a{
  color: #ffb780;
  font-size: 18px;
  padding: 10px;
}
.foot-social {
  text-align: center;
}
.foot-social h3{
  color: aqua;
  font-weight: 600;
}
.foot-social a{
  font-size: 30px;
  color: #ffb780;
}
html{
  overflow-x: hidden;
}
.head{
  margin-top: 30px;
}
.backHome{
  margin-bottom: 30px;
}
@media screen and (max-width:525px) {
  body{
      width: 100%;
  }
  html{
      overflow-x: hidden;
  }

  .navbar{
      width: 100%;
  }
  .left-nav ul li a{
      padding: 0px 9px;
  }
  
}
@media screen and (max-width:380px) {
  body{
      width: 100%;
  }
  html{
      overflow-x: hidden;
  }

  .navbar{
      width: 100%;
  }
  .left-nav ul li a{
      padding: 0px 9px;
  }
  
}