body {
  margin: 0;
  padding: 0;
  background-color: #00ffd5;
  font-family: 'Arial', sans-serif;
}

.container {
  text-align: center;
  padding: 20px;
  background-color: #2d2d2d;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 50px auto;
  max-width: 800px;
  color: #fff;
}

.game-title {
  font-size: 2em;
  color: #00ffd5;
  margin-bottom: 20px;
  transition: color 0.3s ease-in-out;
}

.game-title:hover {
  color: #ff6f61;
}

.buttons {
  margin-top: 20px;
}

.button {
  background-color: #00ffd5;
  color: #1d1414;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.button:hover {
  background-color: #ff6f61;
}
.back-to-home {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color:black;
  font-size: 18px;
  text-align: center;
  background-color: #ff6f61; 
  padding: 10px 20px; 
  border-radius: 5px; 
}

.back-to-home:hover {
  background-color:aqua; 
  text-decoration: none;
}
#canvas1 {
  background-image: #fff;
  display: block;
  margin: 20px auto;
  box-shadow: 0 0 20px rgba(251, 249, 249, 0.969);
  max-width: 700px;
  border-radius: 10px;
}

.navbar{
  /* margin-top: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 67px;
  width: 100%;
  background:linear-gradient(#1e2b59 , #0f1d34 );
  border-bottom:1px solid #ffb780;
}
.image img{
  height: 55px;
  width: 55px;
}
.left-nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-nav ul li{
  list-style: none;
}
.left-nav ul li a{
  text-decoration: none;
  color: #ffb780;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 1.3rem;
}
.left-nav ul li a:hover{
  text-decoration: underline;
}
.footer-container{
  border-top: 1px solid #ffb780;
  width: 100%;
  background:linear-gradient(#1e2b59 , #0f1d34 );
  padding: 20px;
  /* background: url(Image.png); */
   background-position: center;
   line-height: 2.5rem;
}
.foot-head h2{
  text-align: center;
  color: aqua;
  font-weight: 600;
}
.foot-head p{
  color: #ffb780;
  text-align: center;
  font-size: 1.20rem;
}
.foot-navlinks h3{
  text-align: center;
  color: aqua;
  font-weight: 600;
}
.foot-navlinks {
  text-align: center;
}
.foot-navlinks a{
  color: #ffb780;
  font-size: 18px;
  padding: 10px;
}
.foot-social {
  text-align: center;
}
.foot-social h3{
  color: aqua;
  font-weight: 600;
}
.foot-social a{
  font-size: 30px;
  color: #ffb780;
}