*{
  margin: 0px;
  padding: 0px;
}
.container{
    /* position: absolute; */
    bottom: 0; top: 0; left: 0; right: 0;
    text-align: center;
  }
  
  .crosswordDisplay {
      top: 5rem;
  }
  
  .clueBlock{
    position: relative;
    margin-bottom: 5em;
  }
  .clueDirection{
      text-align: left;
      margin: 1em 0 0.25em 122px;
      font-size: 1.5em;
      font-weight: bold;
      color: #000;
  }
  .line{
  }
  .word, .clue, .lineNum{
    display: inline-block;
    height: 1.4em;  
    padding: 0 5px;
  }
  .word{
    text-align: right;  
    width: 100px;
    margin: 0 20px 0 0;
  }
  .clue{
    width: 500px;
    margin: 0 0 4px 0;
  }
  .lineNum{
  
    font: 1em calibri;
    line-height: 1.8em;
  
  }
  .clueReadOnly
  {
    border-color: rgba(0,0,0,0);
    margin: 0;
    outline: 0;
    color:#303030;
    background:none;
  }
  
  .crossword{
    display: block;  
    background-color: rgb(52, 25, 187);  
    margin: 20px;
  }
  .square{  
    margin: 0 1px 1px 0;
    display: inline-block;
    position: relative;
    font: 24px Calibri;
    width: 1.25em;
    height: 1.25em;
    line-height: 1.25em;
    vertical-align: top;
  }
  .char:focus{
    -webkit-box-shadow: 0 0 0 2px rgb(0,133,180);
    -moz-box-shadow: 0 0 0 2px rgb(0,133,180);
    box-shadow: inset 0 0 0 2px rgb(0,133,180);  
  }
  .char {
    font-family: sans-serif;
    font-size:24px;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 0;
    margin: 1px 0 0 -1px;
    width: 1.25em;
    height: 1.25em;
    text-align: center;
    background-color: rgb(200, 200, 200);  
  }
  .charReadOnly:focus{
    -webkit-box-shadow: 0 !important;
    -moz-box-shadow: 0 !important;
    box-shadow: 0 !important;
    
  border-color: rgba(0,0,0,0);
    margin: 0;
    outline: 0;
    color:#303030; 
  }
  
  .num{
    position: absolute;
    top: 0; left: 0;
    text-align: left;
    color: rgb(0,0,0);
    font-size: 0.5em;
    line-height: 1em;
    pointer-events:none;
  }
  
  .hide{
    visibility: hidden;
  }
  .disabled{
    display: none !important;
  }
  
  .btn:hover{
    cursor: pointer;
    background-color: rgb(150,150,150);
  }

  button{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: aqua;
  }
  .navbar{
    /* margin-top: 25px; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 67px;
    width: 100%;
    background:linear-gradient(#1e2b59 , #0f1d34 );
    border-bottom:1px solid #ffb780;
}
.image img{
    height: 55px;
    width: 55px;
}
.left-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-nav ul li{
    list-style: none;
}
.left-nav ul li a{
    text-decoration: none;
    color: #ffb780;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.3rem;
}
.left-nav ul li a:hover{
    text-decoration: underline;
}
.footer-container{
    border-top: 1px solid #ffb780;
    width: 100%;
    background:linear-gradient(#1e2b59 , #0f1d34 );
    padding: 20px;
    /* background: url(Image.png); */
     background-position: center;
     line-height: 2.5rem;
}
.foot-head h2{
    text-align: center;
    color: aqua;
    font-weight: 600;
}
.foot-head p{
    color: #ffb780;
    text-align: center;
    font-size: 1.20rem;
}
.foot-navlinks h3{
    text-align: center;
    color: aqua;
    font-weight: 600;
}
.foot-navlinks {
    text-align: center;
}
.foot-navlinks a{
    color: #ffb780;
    font-size: 18px;
    padding: 10px;
}
.foot-social {
    text-align: center;
}
.foot-social h3{
    color: aqua;
    font-weight: 600;
}
.foot-social a{
    font-size: 30px;
    color: #ffb780;
}
html{
    overflow-x: hidden;
}
.head{
    margin-top: 30px;
}
.backHome{
    margin-bottom: 30px;
}
@media screen and (max-width:525px) {
  body{
      width: 100%;
  }
  html{
      overflow-x: hidden;
  }

  .navbar{
      width: 100%;
  }
  .left-nav ul li a{
      padding: 0px 9px;
  }
  
}
@media screen and (max-width:380px) {
  body{
      width: 100%;
  }
  html{
      overflow-x: hidden;
  }

  .navbar{
      width: 100%;
  }
  .left-nav ul li a{
      padding: 0px 9px;
  }
  
}