*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: "Roboto" , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background {
    min-height: 100vh;
    width: 100vw;
}

.heading-container {
    background-color: rgb(7, 40, 40);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: 25px;
    letter-spacing: 1.5px;
}

.heading-container h1 {
    background: linear-gradient(#F2B433 100%, #EEB238 100%, #D48300 100%);;
    text-align: center;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 5vh;
}

.game-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,13vw);
    grid-template-rows: repeat(3,13vw);
}

.box{
    background-color: transparent;
    color: white;
}

.box:hover {
    background-color: rgb(52, 233, 236);
    color: black;
}
.boxtext {
    font-size: 8rem;
}

.game-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.reset {
    font-size: 2rem;
    padding : 5px 10px;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}

.reset:hover {
    box-shadow: 0 0 10px rgb(35, 184, 184) , 0 0 20px rgb(35, 184, 184) , 0 0 30px rgb(35, 184, 184);
    transform: scale(1.07);
    transition: all 0.1s ease-in-out;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

.bl-0 {
    border-left: 0;
}

.br-0 {
    border-right: 0;
}

.gif-icon {
    height: 60vh;
    border-radius: 50%;
}

.no{
    display: none;
}

.yes{
    display: block;
    animation-name: wit;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes wit {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

.hide {
    width: 0%;
    transition: width 1s ease-in-out;
}

.appear {
    width: 100%;
    transition: width 1s ease-in-out;
}

.line {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 3px;
}

.changeOfTurn {
    font-size: 3rem;
    background: linear-gradient(#F2B433 100%, #EEB238 100%, #D48300 100%);;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}



@media screen and (max-width: 1014px){
    .boxtext {
        font-size: 3rem;
    }

    .container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 20px;
        margin-top: 5vh;
        align-items: center;
    }

    .gif-icon {
        height: 20vh;
        border-radius: 50%;
        margin-bottom: 3rem;
    }

    .heading-container {
        color: white;
        background-color: rgb(7, 40, 40);
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;  
        font-size: 18px;
        letter-spacing: 1.5px;
    }

    .changeOfTurn {
        font-size: 2rem;
    }

    .reset {
        font-size: 1.5rem;
        transition: all 0.1s ease-in-out;
    }
}

@media screen  and (max-width : 413px){
    .boxtext {
        font-size: 2rem;
    }
}

.navbar{
    /* margin-top: 25px; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 67px;
    width: 100%;
    background:linear-gradient(#1e2b59 , #0f1d34 );
    border-bottom:1px solid #ffb780;
}
.image img{
    height: 55px;
    width: 55px;
}
.left-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-nav ul li{
    list-style: none;
}
.left-nav ul li a{
    text-decoration: none;
    color: #ffb780;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.3rem;
}
.left-nav ul li a:hover{
    text-decoration: underline;
}
.footer-container{
    border-top: 1px solid #ffb780;
    width: 100%;
    background:linear-gradient(#1e2b59 , #0f1d34 );
    padding: 20px;
    /* background: url(Image.png); */
     background-position: center;
     line-height: 2.5rem;
}
.foot-head h2{
    text-align: center;
    color: aqua;
    font-weight: 600;
}
.foot-head p{
    color: #ffb780;
    text-align: center;
    font-size: 1.20rem;
}
.foot-navlinks h3{
    text-align: center;
    color: aqua;
    font-weight: 600;
}
.foot-navlinks {
    text-align: center;
}
.foot-navlinks a{
    color: #ffb780;
    font-size: 18px;
    padding: 10px;
}
.foot-social {
    text-align: center;
}
.foot-social h3{
    color: aqua;
    font-weight: 600;
}
.foot-social a{
    font-size: 30px;
    color: #ffb780;
}
html{
    overflow-x: hidden;
}
.head{
    margin-top: 30px;
}
.backHome{
    margin-bottom: 30px;
}
/* @media screen and (max-width:525px) {
    body{
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }

    .navbar{
        width: 100%;
    }
    .left-nav ul li a{
        padding: 0px 9px;
    }
    
}
@media screen and (max-width:380px) {
    body{
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }

    .navbar{
        width: 100%;
    }
    .left-nav ul li a{
        padding: 0px 9px;
    }
     */
/* } */
@media screen and (max-width:525px) {
    body{
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }

    .navbar{
        width: 100%;
    }
    .left-nav ul li a{
        padding: 0px 9px;
    }
    
}
@media screen and (max-width:380px) {
    body{
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }

    .navbar{
        width: 100%;
    }
    .left-nav ul li a{
        padding: 0px 9px;
    }
    
}
html {
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: linear-gradient(to top, rgba(0, 212, 255, 1), rgba(9, 9, 121, 1));
  }