body {
    margin: 0;
    padding: 0;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/bg.webp');
  }
  
#pong{
    border: 2px solid #FFF;
    position: absolute;
    margin :auto;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
h1{
    color: red;
    font-size: 50px;
    text-align: center;
    z-index: 1;
}
.back-to-home {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4c8baf;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.back-to-home:hover {
    background-color: #4556a0;
}
