body {
    margin: 0;
    padding: 0;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/bg.webp');
  }
  
#pong{
    border: 2px solid #FFF;
    margin-left: 20vw;
}
h1{
    color: red;
    font-size: 50px;
    text-align: center;
    z-index: 1;
}

.navbar{
    /* margin-top: 25px; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 67px;
    width: 100%;
    background:linear-gradient(#1e2b59 , #0f1d34 );
    border-bottom:1px solid #ffb780;
  }
  .image img{
    height: 55px;
    width: 55px;
  }
  .left-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-nav ul li{
    list-style: none;
  }
  .left-nav ul li a{
    text-decoration: none;
    color: #ffb780;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.3rem;
  }
  .left-nav ul li a:hover{
    text-decoration: underline;
  }
  .footer-container{
    border-top: 1px solid #ffb780;
    width: 100%;
    background:linear-gradient(#1e2b59 , #0f1d34 );
    padding: 20px;
    /* background: url(Image.png); */
     background-position: center;
     line-height: 2.5rem;
  }
  .foot-head h2{
    text-align: center;
    color: aqua;
    font-weight: 600;
  }
  .foot-head p{
    color: #ffb780;
    text-align: center;
    font-size: 1.20rem;
  }
  .foot-navlinks h3{
    text-align: center;
    color: aqua;
    font-weight: 600;
  }
  .foot-navlinks {
    text-align: center;
  }
  .foot-navlinks a{
    color: #ffb780;
    font-size: 18px;
    padding: 10px;
  }
  .foot-social {
    text-align: center;
  }
  .foot-social h3{
    color: aqua;
    font-weight: 600;
  }
  .foot-social a{
    font-size: 30px;
    color: #ffb780;
  }
  .back-to-home {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4c8baf;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.back-to-home:hover {
    background-color: #4556a0;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(to top, rgba(0, 212, 255, 1), rgba(9, 9, 121, 1));
}