body{
    background-color: gray;
}
#pong{
    border: 2px solid #FFF;
    position: absolute;
    margin :auto;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
h1{
    color: red;
    font-size: 50px;
    text-align: center;
}