/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  padding: 20px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #3498db, #2ecc36); /* Updated gradient background */
}

.wrapper {
  width: 430px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.wrapper h1 {
  font-size: 30px;
  font-weight: 600; /* Adjusted font weight */
  padding: 20px 25px;
  border-bottom: 1px solid #ccc;
  color: #2ecc71; /* Updated font color */
}

.wrapper .content {
  margin: 25px;
}

.content .inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inputs input {
  height: 57px;
  width: 56px;
  margin: 4px;
  font-size: 24px;
  font-weight: 500;
  color: #3498db; /* Updated font color */
  text-align: center;
  border-radius: 5px;
  background: #fff; /* Updated background color */
  border: 2px solid #3498db; /* Updated border color */
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.inputs input:hover {
  background: #3498db; /* Updated background color on hover */
  color: #fff; /* Updated text color on hover */
  border: 2px solid #fff; /* Updated border color on hover */
}

.typing-input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.content .details {
  margin: 20px 0 25px;
}

.details p {
  font-size: 18px; /* Adjusted font size */
  margin-bottom: 10px;
}

.content .reset-btn {
  width: 100%;
  border: none;
  cursor: pointer;
  color: #fff;
  outline: none;
  padding: 15px 0;
  font-size: 17px;
  border-radius: 5px;
  background: #3498db; /* Updated background color */
  transition: background 0.3s ease;
}

.content .reset-btn:hover {
  background: #2ecc71; /* Updated background color on hover */
}
.backHome {
  flex: 1;
  font-size: 17px;
  padding: 15px 0;
  margin-top: 1rem;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  text-align: center;
}

.backHome {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: rgb(81, 162, 216);
  border-radius: 5px;
  transition: background-color 0.3s;
}

.backHome:hover {
  background-color: rgba(81, 101, 216, 0.8);}

@media screen and (max-width: 460px) {
  .wrapper {
    width: 100%;
  }

  .wrapper h1 {
    font-size: 22px;
    padding: 16px 20px;
  }

  .wrapper .content {
    margin: 25px 20px 35px;
  }

  .inputs input {
    height: 51px;
    width: 50px;
    margin: 3px;
    font-size: 22px;
  }

  .details p {
    font-size: 16px; /* Adjusted font size */
  }

  .content .reset-btn {
    padding: 14px 0;
    font-size: 16px;
  }
}
