*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Helvetica';
    width: 100%;
    height: 100%;
}

.game_title {
    text-align: center;
}

#game_area {
    height: 306px;
    width: 306px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid black;
}

.number-block {
    height: 100px;
    width: 100px;
    border: 1px solid rgb(0, 8, 56);
    text-align: center;
    font-size: 78px;
    cursor: pointer;
    background-color: #da916a;
}

.void_class {
    background: black;
    color: grey;
    cursor: not-allowed;
}

#game_controls {
    height: 100px;
    width: 300px;
    margin: 20px auto 0 auto;
    text-align: center;
}

.reset_btn {
    padding: 12px;
    background-color: #1665cc;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    cursor: pointer;
    margin-bottom: 10px;
}

.reset_btn.focus,
.reset_btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.backHome a:hover,
.backHome:hover {
    text-decoration: none;
    background-color: #92d3ff;
    color: rgb(35, 107, 159);
}

.backHome,
.backHome a {
    text-decoration: none;
    padding: 12px;
    background-color: #1665cc;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    cursor: pointer;
    margin-bottom: 10px;
}

.navbar{
    /* margin-top: 25px; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 67px;
    width: 100%;
    background:linear-gradient(#1e2b59 , #0f1d34 );
    border-bottom:1px solid #ffb780;
}
.image img{
    height: 55px;
    width: 55px;
}
.left-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-nav ul li{
    list-style: none;
}
.left-nav ul li a{
    text-decoration: none;
    color: #ffb780;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.3rem;
}
.left-nav ul li a:hover{
    text-decoration: underline;
}
.footer-container{
    border-top: 1px solid #ffb780;
    width: 100%;
    background:linear-gradient(#1e2b59 , #0f1d34 );
    padding: 20px;
    /* background: url(Image.png); */
     background-position: center;
     line-height: 2.5rem;
}
.foot-head h2{
    text-align: center;
    color: aqua;
    font-weight: 600;
}
.foot-head p{
    color: #ffb780;
    text-align: center;
    font-size: 1.20rem;
}
.foot-navlinks h3{
    text-align: center;
    color: aqua;
    font-weight: 600;
}
.foot-navlinks {
    text-align: center;
}
.foot-navlinks a{
    color: #ffb780;
    font-size: 18px;
    padding: 10px;
}
.foot-social {
    text-align: center;
}
.foot-social h3{
    color: aqua;
    font-weight: 600;
}
.foot-social a{
    font-size: 30px;
    color: #ffb780;
}
html{
    overflow-x: hidden;
}
#head{
    margin-top: 30px;
    margin-bottom: 20px;
}
.backHome{
    margin-bottom: 30px;
}
/* @media screen and (max-width:525px) {
    body{
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }

    .navbar{
        width: 100%;
    }
    .left-nav ul li a{
        padding: 0px 9px;
    }
    
}
@media screen and (max-width:380px) {
    body{
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }

    .navbar{
        width: 100%;
    }
    .left-nav ul li a{
        padding: 0px 9px;
    }
    
} */
@media screen and (max-width:525px) {
    body{
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }

    .navbar{
        width: 100%;
    }
    .left-nav ul li a{
        padding: 0px 9px;
    }
    
}
@media screen and (max-width:380px) {
    body{
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }

    .navbar{
        width: 100%;
    }
    .left-nav ul li a{
        padding: 0px 9px;
    }
    
}
html {
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: linear-gradient(to top, rgba(0, 212, 255, 1), rgba(9, 9, 121, 1));
  }