body {
    margin: 0;
    overflow-x: hidden;
    font-family: Ubuntu, sans-serif;
    color: #ffb780;
    background: radial-gradient(circle at top right, rgba(16, 14, 44, 0.7), rgba(102, 0, 255, 0.51) 400%) #0a121f;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.blurred-background {
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(350px);
    z-index: -1; /* Set a lower z-index */
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    top: 80px;
    z-index: 1; /* Set a higher z-index */
}

.navbar div a {
    font-size: 24px;
    font-weight: 400;
    color: #FFB780;
    text-decoration: none;
}

.content-container {
    text-align: center;
    max-width: 800px;
    margin: 20px;
    box-sizing: border-box;
    position: relative; /* Added position relative */
}

.content-container {
    text-align: center;
    max-width: 800px;
    margin: -50px auto 20px;
    box-sizing: border-box;
    position: relative;
}

.about-solve-it {
    font-size: 60px;
    font-weight: 900;
    color: #FFB780;
    position: absolute;
    top: 30%;
    left: 50%; /* Centering in the x-axis */
    transform: translate(-50%, -50%);
    white-space: nowrap; /* Prevent line breaks */
}

/* .footer {
    margin-top: auto;
    width: 100%;
    background: linear-gradient(0deg, rgba(16, 14, 44, 0.70) 0%, rgba(16, 14, 44, 0.70) 100%);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFB780;
}

.footer div {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
} */

.footer-container{
    width: 100%;
    background:linear-gradient(0deg, rgba(16, 14, 44, 0.70) 0%, rgba(16, 14, 44, 0.70) 100%); 
    padding: 20px;
    background: url(Image.png);
}
.foot-head h2{
    text-align: center;
    color: aqua;
    font-weight: 600;
}
.foot-head p{
    text-align: center;
    font-size: 1.70rem;
}
.foot-navlinks h3{
    text-align: center;
    color: aqua;
    font-weight: 600;
}
.foot-navlinks {
    text-align: center;
}
.foot-navlinks a{
    color: #ffb780;
    font-size: 18px;
}
.foot-social {
    text-align: center;
}
.foot-social h3{
    color: aqua;
    font-weight: 600;
}
.foot-social a{
    font-size: 30px;
}

.foot-last{
    margin-top: 10px;
    padding: 2rem;
    padding-bottom: 1rem;
   font-family:  Ubuntu, sans-serif;
   font-size: medium;
   text-align: center;
   border-top: 1px solid #9D5CFF;
   display: flex;
   align-items: center;
   justify-content: center;
}

.made-with-passion {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.made-with-passion div {
    font-size: 18px;
    font-weight: 400;
}

.heart {
color: #9D5CFF;
 font-size: 29px !important; /* Add !important to ensure the style is applied  */
}



.about-text::before {
    content: "";
    display: block;
    width: 90px;
    height: 2px;
    margin: 15px auto;
    background: #9D5CFF;
}
.navbar div a:hover {
border-bottom: 2px solid #9D5CFF;
transition: width 0.3s ease;}