
body {
    margin: 0;
    padding: 0;
    background-color: #61a6ff;
  }
  
  .container {
    /* position: fixed; */
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }

  .next-player{
    position: absolute;
    left: 100px;
    top: 40vh;
  }

  #remain{
    position: absolute;
    left: 100px;
    top: 50vh;
  }
  
  .counter {
    display: flex;
    gap: 20px;
    background-color: #ecc59a;
    padding: 10px 20px;
    border: 1px solid #ecc59a; 
    border-radius: 5px;
  }
  .counter div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .next-player {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
  }
  .occupied {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .occupied.whitePiece {
    background-color: rgb(255, 0, 0);
  }
  
  .occupied.blackPiece {
    background-color: rgb(0, 11, 74);
  }
  
  .h1{
    color: black;
  }
  .game {
    background-color: #8b6c5c;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
  }
  
  .game .row {
    width: 100%;
    height: 10%;
    display: flex;
  }
  
  .game .row .column {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .game .row .column .occupied {
    width: 80%;
    height: 80%;
    border-radius: 50%;
  }
  
  .game .row .column .occupied.blackPiece {
    background-color: rgb(3, 0, 80);
  }
  
  .game .row .column .occupied.whitePiece {
    background-color: rgb(255, 0, 0);
  }
  
  .game .row .column.whiteCase {
    background-color: #927262;
  }
  
  .game .row .column.blackCase {
    background-color: #f7dbbd;
  }
  
  .readyToMove {
    background-color: green;
  }
  
  /* model style */
  *{
    margin: 0;
    padding: 0;
  }
  
  button{
      cursor: pointer;
      outline: none;
      border: none;
  }
  
  body {
      font-family: sans-serif;
      position: relative;
      font-size: 16px;
      line-height: 1.6;
      color: #fff;
      /* background-image: url(https://picsum.photos/1920/1080); */
      background-size: cover;
      width: 100vw;
      height: 100vh;
    }
  
    .model {
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.8);
  
      visibility: hidden;
      opacity: 0;
      transition: all 0.15s ease-out;
    }
    
    .effect{
      visibility: visible;
      opacity: 1;
    }
  
    .model-content {
      position: fixed;
      z-index: 2;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      background-color: #ecc59a;
      border-radius: 20px;
    }
    
    .model-body {
      padding: 5em;
      color: black;
    }
  
    .model-body p{
      text-align: center;
      font-size: 16px;
      letter-spacing: 0.1em;
      color: black;
    }
  
  .modalClose {
      margin: 0;
      padding: 0;
      border: 0;
      background: none;
      position: fixed;
      width: 40px;
      height: 40px;
    }
    .modalClose:before, .modalClose:after {
      content: "";
      position: absolute;
      top: 18px;
      left: 0;
      right: 0;
      height: 4px;
      background: #ecc59a;
      border-radius: 4px;
    }
    .modalClose:before {
      transform: rotate(45deg);
    }
    .modalClose:after {
      transform: rotate(-45deg);
    }
  
    .model .btn-container{
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  
    .model .btn{
      background-color: #4c382e;
      color: white;
      padding: 10px 40px;
      border: 1px solid #4c382e;
      border-radius: 5px;
    }

    
    .backHome a:hover,
    .backHome:hover {
        text-decoration: none;
        background-color: #92d3ff;
        color: rgb(35, 107, 159);
    }
    
    .backHome,
    .backHome a {
        padding: 12px;
        background-color: #1665cc;
        border: none;
        border-radius: 10px;
        color: white;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.1rem;
        cursor: pointer;
        margin-bottom: 10px;
    }
    .navbar{
      /* margin-top: 25px; */
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
      height: 67px;
      width: 100%;
      background:linear-gradient(#1e2b59 , #0f1d34 );
      border-bottom:1px solid #ffb780;
  }
  .image img{
      height: 55px;
      width: 55px;
  }
  .left-nav ul{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .left-nav ul li{
      list-style: none;
  }
  .left-nav ul li a{
      text-decoration: none;
      color: #ffb780;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
      font-size: 1.3rem;
  }
  .left-nav ul li a:hover{
      text-decoration: underline;
  }
  .footer-container{
      border-top: 1px solid #ffb780;
      width: 100%;
      background:linear-gradient(#1e2b59 , #0f1d34 );
      padding: 20px;
      /* background: url(Image.png); */
       background-position: center;
       line-height: 2.5rem;
       margin-top: 30px;
  }
  .foot-head h2{
      text-align: center;
      color: aqua;
      font-weight: 600;
  }
  .foot-head p{
      color: #ffb780;
      text-align: center;
      font-size: 1.20rem;
  }
  .foot-navlinks h3{
      text-align: center;
      color: aqua;
      font-weight: 600;
  }
  .foot-navlinks {
      text-align: center;
  }
  .foot-navlinks a{
      color: #ffb780;
      font-size: 18px;
      padding: 10px;
  }
  .foot-social {
      text-align: center;
  }
  .foot-social h3{
      color: aqua;
      font-weight: 600;
  }
  .foot-social a{
      font-size: 30px;
      color: #ffb780;
  }
  html{
      overflow-x: hidden;
  }
  .head{
      margin-top: 30px;
  }
  .backHome{
      margin-bottom: 30px;
  }
  /* @media screen and (max-width:525px) {
    body{
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }

    .navbar{
        width: 100%;
    }
    .left-nav ul li a{
        padding: 0px 9px;
    }
    
}
@media screen and (max-width:380px) {
    body{
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }

    .navbar{
        width: 100%;
    }
    .left-nav ul li a{
        padding: 0px 9px;
    }
    
} */

@media screen and (max-width:525px) {
  body{
      width: 100%;
  }
  html{
      overflow-x: hidden;
  }

  .navbar{
      width: 100%;
  }
  .left-nav ul li a{
      padding: 0px 9px;
  }
  
}
@media screen and (max-width:380px) {
  body{
      width: 100%;
  }
  html{
      overflow-x: hidden;
  }

  .navbar{
      width: 100%;
  }
  .left-nav ul li a{
      padding: 0px 9px;
  }
  
}