@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-straight/css/uicons-regular-straight.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: Ubuntu, sans-serif;
    color: #ffb780;
    background: radial-gradient(circle at top right, rgba(16, 14, 44, 0.7), rgba(102, 0, 255, 0.51) 400%) #0a121f;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../assets/bodylogo.png');
    background-size: 40dvw;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    gap: 2rem;
}

.main-container {
    height: auto;
    /* height: 95vh; */
    width: 100vw;
    /* border: 2px solid white; */
    gap: 2rem;
}

.blurred-background {
    width: 100%;
    height: 100%;
    position: absolute;
    /* backdrop-filter: blur(350px); */
    z-index: -1;
    /* Set a lower z-index */
}



.content {
    height: 90%;
    width: 100%;
    /* border: 5px solid greenyellow; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #0A121F;
    padding: 5rem;
    background: linear-gradient(0deg, rgba(16, 14, 44, 0.70) 0%, rgba(16, 14, 44, 0.70) 100%);
}

.intro {
    /* border: 5px solid red; */
    display: grid;
    grid-template-rows: 1fr 3fr;
    gap: 1rem;
    background: linear-gradient(#F2B433 100%, #EEB238 100%, #D48300 100%);
    border-radius: 2rem;
}

.picture {
    position: relative;
    /* border: 2px solid red; */
    height: 5rem;
}

.image {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 5px solid #EEB238;
    /* border: 5px solid #FFB780; */
    position: absolute;
    background-image: url('../assets/favicon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 50%;
    transform: translate(-50% , -50%);
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    gap: 2rem;
}

.info-section p {
    font-weight: 700;
    text-align: center;
}

.info-section h3 {
    text-align: center;
}

.icon-section {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    cursor: pointer;
}

.icon-section a {
    text-decoration: none;
    color: #0A121F;
    font-size: 2rem;
    transition: transform 0.2s linear;
}

.icon-section a:hover{
    transform: translateY(-7px);
    transition: transform 0.2s linear;
}

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    position: relative;
    color: #0A121F;
    width: 30rem;
}

.form-section form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
}

.inputs {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-radius: 1rem;
}

.logo {
    font-size: 1.5rem;
    color: rgb(80, 26, 146);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#F2B433 100%, #EEB238 100%, #D48300 100%);
    padding-left: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.input-text {
    width: 100%;
}

.input-text input {
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem 0.7rem;
    /* background-color: #F0B200; */
    background: linear-gradient(#F2B433 100%, #EEB238 100%, #D48300 100%);
    outline: none;
    border: none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: #0A121F;
}

input::placeholder,
textarea::placeholder {
    color: #0A121F;
}

textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    background: linear-gradient(#F2B433 100%, #EEB238 100%, #D48300 100%);
    outline: none;
    border: none;
}

button {
    align-self: flex-end;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: #10102C;
    color: #F0B200;
    outline: 2px solid #FFB780;
    border: none;
    box-shadow: 7px 7px 2px #FFB780;
    margin-right: 5px;
    transition: all 0.2s ease-in;
}

button:hover {
    box-shadow: 0px 0px 0px #fff;
    transition: all 0.2s ease-in;
    transform: translate(10px, 10px);
}



@media screen and (max-width : 1200px){
    .content {
        flex-direction: column;
        gap: 2rem;
    }
    .form-section{
        width: 30rem;
    }
}

@media screen and (max-width : 530px){
    .content {
        flex-direction: column;
        gap: 2rem;
    }
    .form-section{
        width: 25rem;
    }
}
@media screen and (max-width : 420px){
    .content {
        flex-direction: column;
        gap: 2rem;
    }
    .form-section{
        width: 20rem;
    }
}
@media screen and (max-width : 300px){
    .content {
        flex-direction: column;
        gap: 2rem;
    }
    .form-section{
        width: 15rem;
    }
}
.newFooter{
    margin: 0px;
    padding: 0px;
}
.newFooter span{
    font-size: 0.8rem;
}
.newFooter h1{
    font-size: 1.2rem;
}
.newFooter a{
    font-size: 1.1rem;
}
