@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

h1{
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    max-width: 500px;;
    padding: 2rem;
    background-color: #c98900;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.inputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1rem;
}

.inputContainer > .input-field input{
    width: 100%;
}

.num1n2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.num3n4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.input-field {
    position: relative;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-field input{
    width: 180px;
    height: 60px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
    border: 2px solid #000;
    background: transparent;
    color: #000;
    outline: none;
    transition: border .3s ease-in-out;
}


.input-field label {
    position: absolute;
    transform: translateY(-50%);
    color: #000;
    top: 0;
    left: 15px;
    font-size: 16px;
    padding: 0 2px;
    background-color: #c98900;

}

input:focus {
    border: 2px solid #fff;
}

.buttonAligner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.buttonAligner button{
    background-color: #000458;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 25px;
    font-family: "League Spartan", sans-serif;
    color: #fff;
    cursor: pointer;
    box-shadow: 15px 5px 10px #ea711c;
}

.buttonAligner button:hover {
    background: rgb(1, 47, 173);
    box-shadow: 0 5px 10px rgba(223, 123, 10, 0.4);
    transition: 0.5s;
}

a {
    text-decoration: none;
}

.resultContaier {
    display: flex;
    justify-content: center;
    align-items: center;
}

#result {
    margin-top: 2rem;
    font-size: 18px;
    color: #000;
    width: 100%;
    text-align: center;
}


@media (max-width: 600px) {
    .container{
        max-width: 80%;
        max-height: 90%;   
    }
    .input-field input{
        width: 65%;
    }
    .inputContainer > .input-field input{
        width: 84%;
    }
    .num1n2, .num3n4{
        gap: 1rem;
    }
    .buttonAligner{
        flex-flow: column;
        gap: 1rem;
    }
    .buttonAligner button, .backHome{
        padding: 10px 20px;
        width: 250px;
    }
    .resultContaier input{
        max-width: 50%;
    }
}