body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
  }
  
  #container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #3498db;
  }
  
  .chessboard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    gap: 2px;
    margin: 20px auto;
    border: 2px solid #3498db;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .square {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .white {
    background-color: #f0d9b5; /* Light color for odd squares */
  }
  
  .black {
    background-color: #b58863; /* Dark color for even squares */
  }
  
  .queen {
    color: red;
  }
  
  #buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .solveButton {
    background-color: #3498db;
    color: #fff;
  }
  
  .solveButton:hover {
    background-color: #2980b9;
  }
  
  .resetButton {
    background-color: #27ae60;
    color: #fff;
  }
  
  .resetButton:hover {
    background-color: #218c54;
  }
  
  