 body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#e0e0e0;
  }

  h1 {
    text-align: center;
    color: #3498db;
  }

  .chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 400px;
    margin-top: 20px;
    
}


  

  .square {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    box-sizing: border-box;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .square:nth-child(odd) {
    background-color: #f0d9b5; 
  }
  
  .square:nth-child(even) {
    background-color: #b58863; 
  }

  .square:hover {
    background-color: #ddd;
  }

  .queen {
    color:black;
  }

  #solutionButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  #solutionButton:hover {
    background-color: #2980b9;
  }
  .resetButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    
    
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: #27ae60;
    color: #fff;
  }

  .resetButton:hover {
    background-color: #218c54;
  }
