.searchWrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    width: 40px;
    aspect-ratio: 1/1;
    margin: none;
}

.search-container {
    display: flex;
    flex-flow: column;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.searchBox {
    display: flex;
    justify-content: center;
    position: relative;
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 5px;
}

.searchButton {
    color: #ffb780;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #ffb780;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}


.search-container .result-box ul {
    padding: 15px 10px 0;
}

.search-container .result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    margin: 5px 0;
    cursor: pointer;
    color: #ffb780;
    background-color: #2f3640;
}

.search-container .result-box ul li:last-child {
    padding: 15px 10px 0;
}

.search-container .result-box {
    width: 100%;
    position: absolute;
    top: 100%;
    overflow: hidden;
    background: rgba(47, 54, 64, 0.6);
    backdrop-filter: blur(10px);
    margin-top: 2rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 2; /* Added z-index in order to prevent the result box to hide under other elements*/
}

@media screen and (max-width:719px) {
    .searchWrapper{
        margin-right: 4rem;
    }
}