*{
margin:0;
padding:0;
}
body{
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
     display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    height:100vh;
   
}
h1{
    font-weight:500;
}
.sudoku-container{
    margin-top :21px;
    display:flex;
    justify-content: center;
    

}
table{
    border-collapse :collapse;
    border: 5px solid #000;

}
.cell{
    width:40px;
    height:40px;
    text-align:center;
    font-size: 20px;
    border: 1px solid #999;
    transform: all 0.3s  ease-in-out;
    background:rgb(244, 213, 99);
}

table tr:nth-child(3n) td,
table tr:nth-child(3n+3) td{
    border-bottom:2px solid #000;
}
table td:nth-child(3n) {
    border-right: 2px solid #000;
}
input{
    outline:none;


}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-buton{
    -webkit-appearance:none;
    margin:0;

}
button{
    margin-top: 20px;
    padding:10px 20px ;
    font-size:16px;
    background-color: #1665cc;
    color:#fff;
    border:none;
    border-radius:4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-s:hover{
    background-color: #92d3ff;
    color: #1665cc;
}

.backHome a:hover, .backHome:hover{
    text-decoration: none;
    background-color: #92d3ff;
    color:rgb(35, 107, 159);
}
.backHome, .backHome a{
    padding: 12px;
    background-color: #1665cc;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    cursor: pointer;
    margin-bottom: 10px;
}
