* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
    font-family: Ubuntu;
}

body {
    background-size: cover;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
    height: 100vh;
}

.grid-container {
    text-align: center;
    width: auto; 
    padding: 20px;
    margin-top: auto; 
}

.cells {
    padding: 10px;
    height: 90px;
    width: 90px;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    color: black;
    border: 1px solid black;
}

#grid02,
#grid12,
#grid22,
#grid32,
#grid42,
#grid52 {
    border-right: 4px solid black;
}

#grid10,
#grid11,
#grid12,
#grid13,
#grid14,
#grid15,
#grid30,
#grid31,
#grid32,
#grid33,
#grid34,
#grid35 {
    border-bottom: 4px solid black;
}

.solver-name-header {
    margin-top: 20px; 
    background-color: rgba(255, 192, 203, 0);
    text-align: start;
}

.solver-name-header span {
    font-size: 40px;
    text-align: left;
    color: black;
    font-weight: 900;
    background-color: rgba(255, 192, 203, 0);
}

