.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.stage{
    height:300px;
    width:500px;
}
.left-sidebar{
    display: flex;
    flex-direction: column;
    background:aqua;
    gap:5px;
    height: 200px;
    width:200px;
    justify-content: center;
    align-items: center;
}
.stage {
    height: 180px;
    background: dimgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
    padding: 10px;
  }
  
  .tower {
    width: 100px;
    height: 160px;
    background: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  
  .stem {
    width: 7px;
    height: 140px;
    background: #000;
    position: absolute;
    border-radius: 5px;
  }
  
  .plate {
    width: 115px;
    height: 10px;
    background: brown;
    border-radius: 10px;
    z-index: 1;
  }
  
  .disc {
    height: 18px;
    border-radius: 3px;
    z-index: 1;
  }
  .new-game {
    border: 1px solid #FFF;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .new-game select {
    background: #5db2dd;
    color: #FFF;
    padding: 2px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  
  #speedRange {
    width: 100%;
    height: 3px;
  }
  
  button:hover {
    background: #f082ac;
  }
  .is-dragging {
    opacity: 0.3;
  }
  .ans{
    font-size: medium;
    font-weight: bold;
  }
  h1{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body{
    margin: 0;
    background: #5db2dd;
  }
  .head{
    background: violet;
  }
  .ans{
    height: 200px;
    width: 500px;
    text-align: center;
  }