body {
  background-image: url(../assets/bg.webp);
  margin: 0;
  padding: 0;
  align-items: center;
  height: 100vh;
}

/* fix for long outputs */
#container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  min-height: 200px;
  max-height: 500px;
  overflow: hidden;
  margin:auto;
  transition: .5s;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(149, 202, 235);
  text-shadow: 1px 1px 10px rgb(46, 46, 46);
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
}

button {
  margin: auto;
  padding: 10px;
  font-size: 16px;
  border: 1px;
  border-radius: 4px;
  box-shadow: 1px 3px 6px black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
  background: #3D88EC;
  color: white;
  width: 100%;
}

button:hover{
  background-color: #92d3ff;
  color:rgb(35, 107, 159);
  transition: 0.2s;
  scale: 1.05;
}

/* fixed the result section to handle long outputs */
#result {
  margin-top: 20px;
  text-align: left;
  max-height: 150px;
  overflow-y: scroll;
}

/* enhanced the display of results */
li {
  margin-bottom: 5px;
  color: black;
  padding: 10px;
}

#result li:nth-child(odd) {
  background-color: #d9d9d9;
  border-radius: 5px;
}

/* custom grey scrollbar to match the theme*/
#result::-webkit-scrollbar {
  width: 10px;
}

#result::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

#result::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  cursor: pointer;
}

#result::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.back-home-btn {
  display: flex;
  justify-content: center;
  align-items: center;  
  padding: 7px 15px;
  gap: 7px;
  background-color: #4CAF50;
  outline: 3px #4CAF50 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
  height: 41px;
}

.back-home-btn .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
  margin-top: 19px;
}

.back-home-btn svg path {
  transition: 400ms;
}

.back-home-btn:hover {
  background-color: transparent;
}

.back-home-btn:hover .text {
  color: #4CAF50;
}

.back-home-btn:hover svg path {
  fill: #4CAF50;
}