body {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);;
  margin: 0;
  padding: 0;
  align-items: center;
  height: 100vh;
}

/* fix for long outputs */
#container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  min-height: 200px;
  max-height: 500px;
  overflow: hidden;
  margin:auto;
  transition: .5s;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  color: hsl(49, 100%, 64%);
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
}

button {
  margin: auto;
  padding: 10px;
  font-size: 16px;
  border: 1px;
  border-radius: 4px;
  box-shadow: 1px 3px 6px black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
  background: rgb(1, 47, 173);
  color: white;
  width: 100%;
}

button:hover{
  color:#ffffff;
  background: #000458;
  transition: 0.2s;
  scale: 1.05;
}

/* fixed the result section to handle long outputs */
#result {
  margin-top: 20px;
  text-align: left;
  max-height: 150px;
  overflow-y: scroll;
}

/* enhanced the display of results */
li {
  margin-bottom: 5px;
  color: black;
  padding: 10px;
}

#result li:nth-child(odd) {
  background-color: #d9d9d9;
  border-radius: 5px;
}

/* custom grey scrollbar to match the theme*/
#result::-webkit-scrollbar {
  width: 10px;
}

#result::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

#result::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  cursor: pointer;
}

#result::-webkit-scrollbar-thumb:hover {
  background: #555;
}