*{
  margin: 0px;
  padding: 0px;
}
body {
    text-align: center;
    background-color: #011F3F;
  }
  
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  5%;
    color: #FEF2BF;
  }
  
  .container {
    display: block;
    width: 50%;
    margin: auto;
  
  }
  
  .btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  .navbar{
    /* margin-top: 25px; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 67px;
    width: 100%;
    background:linear-gradient(#1e2b59 , #0f1d34 );
    border-bottom:1px solid #ffb780;
}
.image img{
    height: 55px;
    width: 55px;
}
.left-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-nav ul li{
    list-style: none;
}
.left-nav ul li a{
    text-decoration: none;
    color: #ffb780;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.3rem;
}
.left-nav ul li a:hover{
    text-decoration: underline;
}
.footer-container{
    border-top: 1px solid #ffb780;
    width: 100%;
    background:linear-gradient(#1e2b59 , #0f1d34 );
    padding: 20px;
    /* background: url(Image.png); */
     background-position: center;
     line-height: 2.5rem;
}
.foot-head h2{
    text-align: center;
    color: aqua;
    font-weight: 600;
}
.foot-head p{
    color: #ffb780;
    text-align: center;
    font-size: 1.20rem;
}
.foot-navlinks h3{
    text-align: center;
    color: aqua;
    font-weight: 600;
}
.foot-navlinks {
    text-align: center;
}
.foot-navlinks a{
    color: #ffb780;
    font-size: 18px;
    padding: 10px;
}
.foot-social {
    text-align: center;
}
.foot-social h3{
    color: aqua;
    font-weight: 600;
}
.foot-social a{
    font-size: 30px;
    color: #ffb780;
}
html{
    overflow-x: hidden;
}
.head{
    margin-top: 30px;
}

.backHome{
    margin-bottom: 30px;
}
backHome a:hover,
.backHome:hover {
    text-decoration: none;
    background-color: #92d3ff;
    color: rgb(35, 107, 159);
}

.backHome,
.backHome a {
    padding: 12px;
    background-color: #1665cc;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    cursor: pointer;
    margin-bottom: 10px;
    text-decoration: none;
}
/* @media screen and (max-width:525px) {
  body{
      width: 100%;
  }
  html{
      overflow-x: hidden;
  }

  .navbar{
      width: 100%;
  }
  .left-nav ul li a{
      padding: 0px 9px;
  }
  
}
@media screen and (max-width:380px) {
  body{
      width: 100%;
  }
  html{
      overflow-x: hidden;
  }

  .navbar{
      width: 100%;
  }
  .left-nav ul li a{
      padding: 0px 9px;
  }
  
} */

@media screen and (max-width:525px) {
  body{
      width: 100%;
  }
  html{
      overflow-x: hidden;
  }

  .navbar{
      width: 100%;
  }
  .left-nav ul li a{
      padding: 0px 9px;
  }
  
}
@media screen and (max-width:380px) {
  body{
      width: 100%;
  }
  html{
      overflow-x: hidden;
  }

  .navbar{
      width: 100%;
  }
  .left-nav ul li a{
      padding: 0px 9px;
  }
  
}