body { 
	font-family: Arial, sans-serif; 
	background-color: #d8f3dc; 
	margin: 0; 
	padding: 0; 
} 

.bingo-container { 
	text-align: center; 
	padding: 20px; 
} 

h1 { 
	color: white; 
} 

.player-cards { 
	display: flex; 
	justify-content: center; 
	gap: 20px; 
	margin-top: 20px; 
} 

.player-card { 
	background-color: #fff; 
	padding: 10px; 
	border-radius: 5px; 
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
	display: grid; 
	grid-template-columns: repeat(5, 1fr); 
	gap: 5px; 
} 

.player-card h2 { 
	color: white; 
} 

.controls { 
	margin-top: 20px; 
} 

button { 
	background-color: #1aff00; 
	color: black; 
	border: none; 
	padding: 10px 20px; 
	border-radius: 5px; 
	cursor: pointer; 
	font-weight: bold; 
} 

button:disabled { 
	background-color: #ccc; 
	cursor: not-allowed; 
} 

.input-container { 
	margin-top: 10px; 
} 

label { 
	font-weight: bold; 
	color: black; 
} 

#numberInput { 
	padding: 5px; 
	margin-right: 10px; 
} 

#turnDisplay { 
	font-weight: bold; 
	color: #ff002b; 
} 

.player-card div { 
	background-color: #ddbe5f; 
	color: black; 
	width: 30px; 
	height: 30px; 
	border-radius: 50%; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	font-weight: bold; 
} 

.player-card div.marked { 
	background-color: #ff5e78; 
} 

@keyframes celebrate { 

	0%, 
	100% { 
		transform: translateY(0); 
	} 

	50% { 
		transform: translateY(-20px); 
	} 
} 

#winDisplay { 
	font-weight: bold; 
	font-size: large; 
	text-decoration: underline; 
	color: #098900de; 
	margin-top: 30px; 
	animation: celebrate 1s ease-in-out infinite; 
}

#back{
	position: absolute;
	top: 80px;
	right: 5px;
}

.navbar{
    /* margin-top: 25px; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 67px;
    width: 100%;
    background:linear-gradient(#1e2b59 , #0f1d34 );
    border-bottom:1px solid #ffb780;
}
.image img{
    height: 55px;
    width: 55px;
}
.left-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-nav ul li{
    list-style: none;
}
.left-nav ul li a{
    text-decoration: none;
    color: #ffb780;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.3rem;
}
.left-nav ul li a:hover{
    text-decoration: underline;
}
.footer-container{
    border-top: 1px solid #ffb780;
    width: 100%;
    background:linear-gradient(#1e2b59 , #0f1d34 );
    padding: 20px;
    /* background: url(Image.png); */
     background-position: center;
     line-height: 2.5rem;
}
.foot-head h2{
    text-align: center;
    color: aqua;
    font-weight: 600;
}
.foot-head p{
    color: #ffb780;
    text-align: center;
    font-size: 1.20rem;
}
.foot-navlinks h3{
    text-align: center;
    color: aqua;
    font-weight: 600;
}
.foot-navlinks {
    text-align: center;
}
.foot-navlinks a{
    color: #ffb780;
    font-size: 18px;
    padding: 10px;
}
.foot-social {
    text-align: center;
}
.foot-social h3{
    color: aqua;
    font-weight: 600;
}
.foot-social a{
    font-size: 30px;
    color: #ffb780;
}