*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    min-width: 100vw;
}

.wrapper {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem ;
    padding: 2rem;
    
}

.heading {
    font-size: 3rem;
    text-align: center;
    background: linear-gradient(#F2B433 100%, #EEB238 100%, #D48300 100%);;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.box-container {
    height: 40rem;
    width: 80rem;
    border: 3px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 0.4rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.btn {
    color: white;
    font-size: 1.8rem;
    border: 2px solid white;
    padding: 4px 6px;
    cursor: pointer;
    border-radius: 5px;
    background-color: crimson;
}

.btn:hover{
    background-color: rgba(220, 20, 60, 0.9);
}

.bar {
    background-color: rgb(9, 250, 250);
    width: 20px;
}

@media screen and (max-width : 700px) {
    .bar {
        width: 15px;
    }
}

@media screen and (max-width : 500px) {
    .bar {
        width: 7px;
    }
}
.navbar{
    /* margin-top: 25px; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 67px;
    width: 100%;
    background:linear-gradient(#1e2b59 , #0f1d34 );
    border-bottom:1px solid #ffb780;
}
.image img{
    height: 55px;
    width: 55px;
}
.left-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-nav ul li{
    list-style: none;
}
.left-nav ul li a{
    text-decoration: none;
    color: #ffb780;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.3rem;
}
.left-nav ul li a:hover{
    text-decoration: underline;
}
.footer-container{
    border-top: 1px solid #ffb780;
    width: 100%;
    background:linear-gradient(#1e2b59 , #0f1d34 );
    padding: 20px;
    /* background: url(Image.png); */
     background-position: center;
     line-height: 2.5rem;
}
.foot-head h2{
    text-align: center;
    color: aqua;
    font-weight: 600;
}
.foot-head p{
    color: #ffb780;
    text-align: center;
    font-size: 1.20rem;
}
.foot-navlinks h3{
    text-align: center;
    color: aqua;
    font-weight: 600;
}
.foot-navlinks {
    text-align: center;
}
.foot-navlinks a{
    color: #ffb780;
    font-size: 18px;
    padding: 10px;
}
.foot-social {
    text-align: center;
}
.foot-social h3{
    color: aqua;
    font-weight: 600;
}
.foot-social a{
    font-size: 30px;
    color: #ffb780;
}
html{
    overflow-x: hidden;
}
.head{
    margin-top: 30px;
    margin-bottom: 20px;
}
.backHome{
    margin-bottom: 30px;
}
@media screen and (max-width:525px) {
    body{
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }
  
    .navbar{
        width: 100%;
    }
    .left-nav ul li a{
        padding: 0px 9px;
    }
    
  }
  @media screen and (max-width:380px) {
    body{
        width: 100%;
    }
    html{
        overflow-x: hidden;
    }
  
    .navbar{
        width: 100%;
    }
    .left-nav ul li a{
        padding: 0px 9px;
    }
    
  }